@page "/fetchdata"

@using ExchangeAdvisor.Domain.Services
@using ExchangeAdvisor.Domain.Values
@inject ExchangeRateFetcher ExchangeRateFetcher

<h1>Rate history</h1>

@if (rateHistory == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rateOnDay in rateHistory)
            {
                <tr>
                    <td>@rateOnDay.Day.ToShortDateString()</td>
                    <td>@rateOnDay.Rate</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    ICollection<RateOnDay> rateHistory;

    protected override async Task OnInitializedAsync()
    {
        rateHistory = (await ExchangeRateFetcher.FetchRateHistoryAsync(
            DateTime.Now.AddDays(-7),
            DateTime.Now,
            CurrencySymbol.EUR,
            CurrencySymbol.PLN))
                .ToArray();
    }
}
