@page "/"
@using ExchangeAdvisor.Domain.Services;
@using ExchangeAdvisor.Domain.Values;
@inject IExchangeRateFetcher ExchangeRateFetcher;

<h1>Exchange rate history</h1>
@ratesOnDay.Length;

@code {
    RateOnDay[] ratesOnDay = Array.Empty<RateOnDay>();

    protected override async Task OnInitializedAsync()
    {
        var fetchedRatesOnDay = await ExchangeRateFetcher.FetchRateHistoryAsync(
            DateTime.Now.AddDays(-30),
            DateTime.Now,
            CurrencySymbol.EUR,
            CurrencySymbol.PLN);

        ratesOnDay = fetchedRatesOnDay.ToArray();
    }
}
