@page "/"
@using ExchangeAdvisor.Domain.Services;
@using ExchangeAdvisor.Domain.Values;
@inject IExchangeRateFetcher ExchangeRateFetcher;

<h1>Exchange rate history</h1>

<EjsChart Width="60%" Title="Rates">
    <ChartPrimaryXAxis Title="Day" ValueType="Syncfusion.EJ2.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
    <ChartPrimaryYAxis Title="Rate"></ChartPrimaryYAxis>
    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
    <ChartSeriesCollection>
        <ChartSeries DataSource="@ratesOnDay" XName="Day" YName="Rate" Type="ChartSeriesType.Column"></ChartSeries>
    </ChartSeriesCollection>
</EjsChart>

@code {
    RateOnDay[] ratesOnDay = Array.Empty<RateOnDay>();

    protected override async Task OnInitializedAsync()
    {
//        var fetchedRatesOnDay = await ExchangeRateFetcher.FetchRateHistoryAsync(
//            DateTime.Now,
//            DateTime.Now.AddDays(-30),
//            CurrencySymbol.EUR,
//            CurrencySymbol.PLN);

//        ratesOnDay = fetchedRatesOnDay.ToArray();
        
        ratesOnDay = new []
        {
            new RateOnDay {Day = DateTime.Now, Rate = 123}
        };

        await base.OnInitializedAsync();
    }
}
